.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.skill-list-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
@media screen and (min-width:768px){
    .skill-list-container{
        width: 60%;
    }
    
}
.skill-heading{
    font-size: 30px;
    font-family: 'Roboto';
    font-weight: bold;
    margin: 12px;
    color: #1D9BF0;
}
@media screen and (min-width:768px){
    .skill-heading{
        font-size: 39px;
    }
    
}
.name-dark{
    color: #0078c7;
}